.accordion-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    max-height: 100%;
    gap: 2rem;
}
.accordion-title {
    cursor: pointer;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.0625rem;
}
.accordion-paragraph {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.575rem;
    letter-spacing: 0;
    line-height: 1.625rem;
    color: var(--alt-font-color);
    max-height: 100%;
    transition: 0.4s ease-in-out;
}
.active-bubble {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    background-color: var(--brand-blue);
}
.accordion-p-container {
    max-height: 100%;
    transition: 0.9s ease-in-out;
}
.transparent-circle {
    background-color: transparent;
    transition: 0.2s ease-in-out;
}
.no-height {
    transition: 0.9s ease-in-out;
    max-height: 0;
}
.hidden-text {
    color: transparent;
}
.inactive-title {
    color: var(--alt-font-color);
    transition: 0.9s ease-in-out;
}
.accordion-content {
    transition: 0.9s ease-in-out;
    width: 90%;
}
