.focus-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-image-wrapper {
    background-color: var(--brand-light-blue);
    justify-content: center;
    display: flex;
    height: 12rem;
    width: 12rem;
    padding: 3rem;
    border-radius: 3rem;
}
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    text-align: center;
}
.card-title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: center;
    margin-top: 1.5rem;
}
.card-desc {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.575rem;
    letter-spacing: 0;
}
